# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Dataset
dataset/*.csv

# Trained models
models/*.joblib
models/*.pkl
models/*.onnx

# Logs
*.log

1.14
2.0